* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Quicksand;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#000000, #3e2572);
}
.main {
  width: 20em;
  height: 39em;
  padding: 50px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#3e2572, #000000);
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.main img {
  width: 133px;
  height: 133px;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: rocke;
  src: url("rocke.otf");
}
.main p {
  font-family: rocke;
}

@font-face {
  font-family: d;
  src: url("d.ttf");
}
.btn {
  font-family: d;
}

@font-face {
  font-family: d;
  src: url("d.ttf");
}
.input {
  font-family: d;
}

.main p {
  text-shadow: 5px 7px 5px rgb(0, 0, 0);
  text-align: center;
  color: rgb(126, 105, 155);
  font-size: 5em;
  display: flex;
}

.main .input {
  width: 90%;
  padding: 10px 25px;
  border: 3px solid #000000;
  outline: none;
  margin: 15px 0;
}
.main .input:focus {
  border: 3px solid rgb(144, 115, 202);
}
.btn,
.input {
  font-size: 1.3rem;
  border-radius: 5px;
  text-shadow: 4px 6px 4px rgb(0, 0, 0);
}

.input {
  font-size: 1.3rem;
  border-radius: 5px;
  text-shadow: 4px 6px 4px rgb(19, 19, 19);
}

.main .btn {
  width: 90%;
  padding: 9px 0;
  outline: none;
  border: none;
  border-radius: 5px;
  background: rgb(122, 109, 143);
  color: rgb(255, 255, 255);
  transition: 0.5s;
  margin: 13px 0 66px 0;
}
.main .code {
  margin: 25px 0;
}
.main .btn:hover {
  box-shadow: 0 10px 25px -10px #a59ad8;
}

.main #note {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
}
#toast {
  position: absolute;
  bottom: 0;
  border-radius: 5px;
  padding: 15px 50px;
  background: rgb(135, 111, 172);
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 10px 25px -10px rgb(166, 155, 180);
  transition: 0.4s;
}
#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 66px;
}

@font-face {
  font-family: m;
  src: url("m.ttf");
}
.main p2 {
  font-family: m;
  color: #fff;
}

@font-face {
  font-family: m;
  src: url("m.ttf");
}
#toast {
  font-family: m;
}
